@model IEnumerable<LAB1.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>
@using (Html.BeginForm("Index","Contact", FormMethod.Post))
{
    @Html.AntiForgeryToken()    
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <p>
        姓名:
        @Html.TextBox("Keyword")
        職稱
       @Html.DropDownList("職稱",(IEnumerable<SelectListItem>)ViewBag.職稱列表,"全部")
        <input type="submit" value="Query" class="btn btn-default" />
        @Html.ActionLink("Download Excel", "Download")
    </p>
   
<table class="table">
    <tr>
        <th>
           
            @Html.ActionLink("職稱", "Index", new { keyword="", 欄位 = "職稱", sort = ViewBag.sort })
            

        
        </th>
        <th>
            @Html.ActionLink("姓名", "Index", new { keyword = "", 欄位 = "姓名", sort = ViewBag.sort })
        </th>
        <th>
           
            @Html.ActionLink("Email", "Index", new { keyword = "", 欄位 = "Email", sort = ViewBag.sort })
        </th>
        <th>
        
            @Html.ActionLink("手機", "Index", new { keyword = "", 欄位 = "手機", sort = ViewBag.sort })
        </th>
        <th>
         
                @Html.ActionLink("電話", "Index", new { keyword = "", 欄位 = "電話", sort = ViewBag.sort })
        </th>
       
        <th>
           
            @Html.ActionLink("客戶名稱", "Index", new { keyword = "", 欄位 = "客戶名稱", sort = ViewBag.sort })
        </th>
        <th></th>
    </tr>
@{
    var data = Model.ToArray();
}
@for (var i = 0; i < data.Length; i++)
{
    @Html.HiddenFor(modelItem => data[i].Id)
    <tr>
        <td>
           
            @Html.DisplayFor(modelItem => data[i].職稱)<br />
            @Html.ValidationMessageFor(modelItem => data[i].職稱, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => data[i].姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => data[i].Email)
        </td>
        <td>
         
            @Html.DisplayFor(modelItem => data[i].手機)<br />
            @Html.ValidationMessageFor(modelItem => data[i].手機, "", new { @class = "text-danger" })
        </td>
        <td>
           
            @Html.DisplayFor(modelItem => data[i].電話)<br />
            @Html.ValidationMessageFor(modelItem => data[i].電話, "", new { @class = "text-danger" })
        </td>
   
        <td>
            @Html.DisplayFor(modelItem => data[i].客戶資料.客戶名稱)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = data[i].Id }) |
            @Html.ActionLink("Details", "Details", new { id = data[i].Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = data[i].Id })
        </td>
    </tr>
}

</table>

   
   
}
